<?xml version="1.0" encoding="utf-8"?>
<launch>

	<param name ="/use_sim_time" value="true"/>

    <node pkg="ira_laser_tools" type="laserscan_multi_merger" name="laserscan_merger" output="screen">
	<param name="destination_frame" value="laser_lnk"/>
	<param name="cloud_destination_topic" value="/merged_cloud"/>
	<param name="scan_destination_topic" value="/merged_scan"/>
	<param name="angle_max" value="3.14159265359"/>
    <param name="angle_min" value="-3.14159265359"/>
	<param name="laserscan_topics" value="/frnt_scan /rear_scan /left_scan /right_scan"/>
   </node>

</launch>
